@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #0d0d0d;
}

.App {
  text-align: center;
  font-family: "VT323", sans-serif;
  color: white;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

/* Background Layer */
.moving-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}

/* Overlay untuk efek gelap di atas background */
.overlay {
  position: relative;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
